.portal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  box-sizing: border-box;
}

header h1 {
  margin: 0;
  padding: 0;
}

.cartButton {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.cartButton.animate {
  animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.cartIconQuantity {
  background-color: red;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items {
  width: 100%;
  display: grid;
  gap: 10px;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
}

.item {
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #505050;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.768);
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.item:hover {
  background-color: #636363;
}

.item img {
  width: 100%;
}

.item button {
  margin-top: auto;
  bottom: 0;
}

@media (min-width:1080px) {
  .items {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width:1400px) {
  .items {
    grid-template-columns: repeat(5, 1fr);
  }
}

.cartGridRow {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.cartGridRow h3 {
  margin: 0;
  padding: 0;
}

.cartGridRow-itemQuantity {
  display: flex;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
}

.cartGridRow-itemQuantity h4 {
  padding: 10px;
}

.cartGridTotals {
  display: flex;
  justify-content: space-between;
  color: green;
}

.checkoutSection {
  display: flex;
  justify-content: flex-end;
}

.checkoutButton {
  background-color: blue;
}